.team {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    position: absolute;
    font-family: var(--font-family);
    top: 61px;
    bottom: 0;
    right: 0;
    left: 700px;
    color: white;
}