.Blog {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    position: absolute;
    font-family: var(--font-family);
    top: 61px;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 20px;
}

.Blog__header {
    text-align: left;
    color: #fff;
    margin-left: 50px;
    text-transform: capitalize;
}
